<% current_user.terms.each do |term| %>
	<li>
		<%= best_in_place term, :name, :type => :input, :class => 'best_in_place' %>		
		<span class="label"><%= link_to 'Delete', term, :confirm => 'Are you sure?', :method => :delete, :class => 'feed-action' %></span>
	</li>
<% end %>