$('#user-feeds').find('#intro-no-feeds').remove();
$('#user-feeds').prepend('<p id="intro-no-feeds">Thanks for signing up! Now use the form in the header above to start creating feeds, you can create as many feeds as you like and they will always be stored for you to come back to, right here.</p>');