<% if user_signed_in? %>
<%= render "terms/new" %>
<section id="feed-content">
	<ul id="feed-nav"></ul>
	<section id="user-feeds">
		<%if !current_user.terms.any?%>
			<p id="intro-no-feeds">
				<strong>Thanks for signing up dude!</strong> Now use the form in the header above to start creating feeds, you can create as many feeds
				as you like and they will always be stored for you to come back to, right here.
				<span>
					You can use the "Scroll to feeds" button above to get straight to the feeds themselves, nothing special - it will just scroll you down
					to a point where your main focus can be the feeds that you came here to see.
				</span>
			</p>
		<% end %>		
				<% current_user.terms.each_with_index do |term,i| %>
					<article data-feed-name="<%= term.name %>" class="<% if i==0 %>active<% end %>">		
							<a href="#" class="refresh-feed"><img src="/assets/feed-refresh.png" /></a>
					</article>
				<% end %>
	</section>
</section>
<% end %>