/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

#container {width:100%;margin:0 auto;padding:0 0 10px 0;position:relative;}
#sticky-bar {border-bottom:2px solid #C2E078;height:20px;background:#212b40;padding:15px 0 10px 0;color:#fff;position:fixed;width:100%;z-index:1;box-shadow:0 0 6px #000000;}
#sticky-bar a {color:#fff;}
#sticky-bar #logo {color:#fff;padding-left:10px;font-family:'Bangers', cursive;font-size:3.5em;text-decoration:none;position:absolute;top:1px;text-shadow: 0px 2px 3px #000;}
#user-nav {float:right;padding-right:10px;}
#navigation {margin-left:200px;}
#navigation li {display:inline-block;padding:0 10px 0 0;}
#navigation a {text-decoration:none;}
#navigation a:hover {text-decoration:underline;}

#new_term {margin:0 auto;width:465px;background:#ccc;text-align:center;padding:10px;border-radius:10px;overflow:hidden;margin-bottom:20px;}
#new_term .field, #new_term .actions {float:left;}
#new_term input {height:30px;font-size:1.8em;box-shadow:0 0 1px #000 inset;border:0;border-radius:10px;padding:5px 10px;width:330px;margin-right:7px;background:#888;color:#000;font-family:georgia;text-transform:lowercase;font-style:italic;}
#new_term input:focus {outline:0;background:#fff;}
#new_term .submit {background:none;font-size:1.8em;color:#fff;font-family:'Bangers', cursive;text-shadow: 0 0 3px #000;height:auto;width:auto;box-shadow:0 0 0 #000 inset;border-radius:0;padding:5px;margin:3px 0 0 0;font-style:normal;cursor:pointer;}


/* USER FEEDS */
#feed-content {position:relative;z-index:3;}
#user-feeds {overflow:hidden;background:#ddd;border-radius:10px;padding:20px;position:relative;z-index:1;box-shadow:#000 0 2px 5px;}
#user-feeds article {width:100%;margin-right:20px;display:none;}
#user-feeds .active {display:block;}
#user-feeds article .feed-action {padding:7px 0 0 15px;color:#000;text-decoration:none;font-weight:bold;}
#user-feeds article h2 {font-family:'Bangers';font-size:2.2em;float:left;}
#user-feeds article ul {height:550px;overflow-y:auto;clear:left;background:#ccc;border-radius:5px;padding:10px;box-shadow:inset 0 0 5px #000000;}
#user-feeds article ul li {float:left;height:100px;width:18%;margin:0 3px 10px 0;background:#fff;line-height:1.2em;border-radius:5px;padding:10px 10px 30px 10px;overflow:hidden;position:relative;}
#user-feeds article ul li div {padding:5px 0;overflow:hidden;background:#666;border-bottom-left-radius:5px;border-bottom-right-radius:5px;position:absolute;left:0;bottom:0;width:100%;}
#user-feeds article ul li .account, #user-feeds article ul li .tweet-time {text-transform:lowercase;text-decoration:none;color:#ffca00;display:block;float:left;padding-left:10px;}
#user-feeds article ul li .tweet-time {color:#ccc;float:right;padding-right:10px;}
#user-feeds article ul li .account-image {position:absolute;bottom:19px;right:0;border-radius:5px;width:35px;border:5px solid #666;}
#user-feeds article ul li p a {color:#999;text-decoration:none;}

#feed-nav {margin-left:20px;overflow:hidden;}
#feed-nav li {border-top:1px solid #999;cursor:pointer;display:inline-block;padding:5px 10px;background:#333;border-top-left-radius:5px;border-top-right-radius:5px;font-size:1.4em;margin:0 5px;font-family:georgia;font-style:italic;}
#feed-nav li:hover {background:#666;}
#feed-nav li a {text-decoration:none;color:#fff;}
#feed-nav li:hover a {color:#000;}
#feed-nav .active {background:#ddd;position:relative;z-index:2;box-shadow:#000 0 2px 5px;}
#feed-nav .active:hover {background:#ddd;}
#feed-nav .active a {color:#000;}
#feed-nav .active:hover a {color:#000;}

.scroll-met {position:absolute;top:30px;}
/* ---------- */

#content {padding:55px 10px 10px 10px;}
#content h1 {font-size:2em;}

.notice, .alert {background:green;color:#fff;position:absolute;top:0;left:0;width:100%;padding:10px;display:none;z-index:2;}
.alert {background:red;}